<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    package="com.lte.mapmylte.mapper.www"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_indoor_lte"
        android:name="com.lte.mapmylte.mapper.www.LteApplication"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name="com.lte.mapmylte.mapper.www.util.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity
            android:name="com.lte.mapmylte.mapper.www.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.lte.mapmylte.mapper.www.ProhibitionNoticeActivity"
            android:parentActivityName="com.lte.mapmylte.mapper.www.DisclaimerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lte.mapmylte.mapper.www.DisclaimerActivity"/>
        </activity>
        <activity
            android:name="com.lte.mapmylte.mapper.www.AcknowledgementNoticeActivity"
            android:parentActivityName="com.lte.mapmylte.mapper.www.DisclaimerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lte.mapmylte.mapper.www.DisclaimerActivity"/>
        </activity>
        <activity
            android:name="com.lte.mapmylte.mapper.www.NewRecordingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.lte.mapmylte.mapper.www.RecordActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.lte.mapmylte.mapper.www.DisplayResultsActivity"
            android:parentActivityName="com.lte.mapmylte.mapper.www.RecordActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lte.mapmylte.mapper.www.RecordActivity"/>
        </activity>
        <activity
            android:name="com.lte.mapmylte.mapper.www.NistSoftwareActivity"
            android:parentActivityName="com.lte.mapmylte.mapper.www.DisclaimerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lte.mapmylte.mapper.www.DisclaimerActivity"/>
        </activity>
        <activity
            android:name="com.lte.mapmylte.mapper.www.LiabilityNoticeActivity"
            android:parentActivityName="com.lte.mapmylte.mapper.www.DisclaimerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lte.mapmylte.mapper.www.DisclaimerActivity"/>
        </activity>
        <activity
            android:name="com.lte.mapmylte.mapper.www.UncertaintyNoticeActivity"
            android:parentActivityName="com.lte.mapmylte.mapper.www.DisclaimerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lte.mapmylte.mapper.www.DisclaimerActivity"/>
        </activity>
        <activity android:name="com.lte.mapmylte.mapper.www.maps.GpsLineLayerActivity" />
        <activity android:name="com.lte.mapmylte.mapper.www.maps.FloorPlanActivity" />
        <activity android:name="com.lte.mapmylte.mapper.www.DisclaimerActivity" />
    </application>

</manifest>